@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@100&display=swap');

html, body, [class*="css"] {
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}
